[Unit]
Description=Activity-Relay Directory
Documentation=https://forgejo.argentwolf.org/alan/activity-relay-directory
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=activity-relay-directory
Group=activity-relay-directory
WorkingDirectory=/var/lib/activity-relay-directory
EnvironmentFile=/etc/default/activity-relay-directory
ExecStart=/usr/bin/activity-relay-directory

Restart=on-failure
RestartSec=5s
TimeoutStopSec=30s
UMask=0077

StateDirectory=activity-relay-directory
StateDirectoryMode=0700

NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true
ProtectSystem=strict
ProtectHome=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictSUIDSGID=true
LockPersonality=true
RestrictRealtime=true
RestrictNamespaces=true
CapabilityBoundingSet=
AmbientCapabilities=
SystemCallArchitectures=native
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
ReadWritePaths=/var/lib/activity-relay-directory

MemoryMax=256M
TasksMax=128

[Install]
WantedBy=multi-user.target
